<p><%= @resource.email %> 様</p>

<p>Peculiss事務局でございます。</p>

<p>パスワードが変更されたことをお知らせいたします。</p>
<p>今後ともよろしくお願いいたします。</p>

<p>※このメールは返信しても届きません。</p>

<p>もし、このメールに覚えがない場合は破棄していただいても構いません。</p>


<p>――――――――――――――――――――――――――――――</p>
<p>Peculiss</p>

<p>実証実験中</p>
<p>――――――――――――――――――――――――――――――</p>