<p>こんにちは <%= @resource.email %>!</p>

<p>パスワードを変更するリンクを要求されました.下のリンクからパスワードを再設定できます.</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし、このメールに心当たりがない場合は無視してください.</p>
<p>このメールを無視してもあなたのパスワードが変わることはありません.</p>
