<%=render 'layouts/public'%>
<div class="container">
<div class="row justify-content-center bg-light bg-circle">
    <div class="col-lg-10 mx-lg-0 mx-1">
        <h1 class="text-center pt-3">支出の項目一覧</h1>

        <div class="row">
        <%@genres.each do |genre|%>
            <%=genre.name%>
        <%end%>
        </div>
    </div>
</div>
</div>