<div class="col-10 offset-1">
    <h3 class="text-center pt-2">最近の収入</h3>
    <p class="text-center pt-1">直近5件の収入を表示しています。</p>

    <div class="row mt-3">
        <div class="col-10 offset-1">
            <%if incomes.count==0%>
                <p class="text-center">まだお金を得ていないようです。</p>
            <%else%>
                <%incomes.each do |income|%>
                    <div class="border-bottom mb-2 p-2">
                        <div class="mb-1"><span class="pe-1"><%=income.comment%></span>|
                        <span class="ps-1"><%= l income.created_at, format: :short %></span></div>
                        <div class="fs-5 text-center"><%=income.money%>円</div>
                    </div>
                <%end%>
            <%end%>

            <div class="row mt-4 mb-2"><%=link_to "もっと見る", incomes_path, class: "btn btn-dark text-center"%></div>

        </div>
    </div>
</div>