<%=render 'layouts/public'%>

<div class="container">
<div class="row d-flex justify-content-center">

    <div class="col-11 col-md-10 py-5 bg-light bg-circle">
        <h1 class="text-center">収入一覧</h1>

        <div class="row d-flex justify-content-center mt-3">
            <div class="col-11 pt-2">
            <%if @incomes.count != 0%>
                <%@incomes.each do |income|%>
                    <div class="bg-info bg-radius-10 mb-3 p-2">
                        <div class="mb-1"><span class="pe-1"><%=income.comment%></span>|
                        <span class="ps-1"><%= l income.created_at, format: :short %></span></div>
                        <div class="fs-4 text-center"><%=income.money%>円</div>
                    </div>
                <%end%>
            <%else%>
                <p class="text-center">まだ記録がありません。</p>
            <%end%>
            </div>
        </div>
    </div>
</div>
</div>