<%=render 'layouts/public'%>

<div class="container">
<div class="row justify-content-center">

    <div class="col-12 col-md-10 bg-light bg-circle py-5">
        <h1 class="text-center">Peculissとは？</h1>

        <div class="">
            ここに説明文
        </div>
    </div>

</div>
</div>