<%=render 'layouts/public'%>

<div class="container">
<div class="row justify-content-center">

    <div class="col-11 col-md-10 bg-light bg-circle p-5">
        <h1 class="text-center">Peculissとは？</h1>

        <div class="mt-5">
            <h2 class="text-center">楽しく続けられる貯金サポートアプリ！</h2>

            <p>Peculiss（ペクリス）は、ラテン語の「貯蓄」からインスパイアされた名前を持つ、貯金初心者から上級者まで幅広く使えるアプリです。
            このアプリは、日々の小さな節約や目標設定をサポートして、無理なく楽しくお金を貯められるのが特徴。シンプルで直感的なデザインだから、貯金が続かない人でも気軽に始められます。
            さらに、目標金額を設定すると、達成状況が一目でわかるので、モチベーションもアップ！貯金がゲーム感覚で楽しめるPeculissで、あなたもコツコツ貯蓄のプロになりませんか？</p>
            <p class="text-center fs-5">さぁ、今すぐ新規登録して、未来の自分に投資を始めましょう！</p>
        </div>
    </div>

</div>
</div>