<%=render 'layouts/public'%>
<div class="container">
<div class="row justify-content-center bg-light bg-circle">
    <div class="col-10 offset-1">
        <h1 class="text-center">Hesokuriとは？</h1>

        <div class="row">
            ここに説明文
        </div>
    </div>
</div class="row">
</div>