$secondary: #ebebeb;
$info: #ebebeb;
$warning: #FBE913;
$danger: #EF5845;
$light: #fff; 
$dark: #494b4b;
$light-yellow: #f1f614; //headerで使用
$line-green: #06C755;

@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import 'homes';
@import 'pheader';

* { font-family: "Noto Sans JP", sans-serif; }
a {text-decoration: none;}
.bg-header{background-color: $light-yellow;}
.bg-body-black{background-color: black;}
.bg-radius-10{border-radius: 10px;}
.bg-circle{border-radius: 10px; padding: 20px 0px;}
.display-inline{display: inline;}

//font-color
.text-black{color: black;}

//toppage-css
.bg-pic-com{
    background-image: image-url('computer.jpg');background-repeat: no-repeat;
    background-size: cover;background-position: center;
}
.bg-pic-bit{
    background-image: image-url('top-bit.jpg');background-repeat: no-repeat;
    background-size: cover;background-position: center;
}
.bg-pic-man{
    background-image: image-url('man10000.jpg');background-repeat: no-repeat;
    background-size: cover;background-position: center;
}
.bg-pic-office{
    background-image: image-url('office-computer.jpg');background-repeat: no-repeat;
    background-size: cover;background-position: center;
}
.bg-pic-ai-office{
    background-image: image-url('ai_office.jpg');background-repeat: no-repeat;
    background-size: cover;background-position: center;
}
@media screen and (min-width: 992px) {
    .fs-lg-60px{font-size: 60px;}
}

.of-cover{object-fit: cover;}

//background-color
.bg-trans-black{background-color: #111111a1;}
.bg-trans-light{background-color: #ffffff85;}
.bg-trans-light-yellow{background-color: #f2f614df;}

//font-size
.fs-40px{font-size: 40px;}
.fs-50px{font-size: 50px;}
.fs-60px{font-size: 60px;}

//----size-----
//----width----
.w-66{width: 66%;}
.w-33{width: 33%;}

//----height----
.h-200{height: 200px;}
.h-250{height: 250px;}
.h-300{height: 300px;}
.h-350{height: 350px;}
.h-400{height: 400px;}
.h-500{height: 500px;}
.h-600{height: 600px;}
.h-700{height: 700px;}

@media screen and (min-width: 720px) {
    .h-md-600{height: 600px;}
    .h-md-500{height: 500px;}

}
@media screen and (min-width: 992px) {
    .h-lg-200{height: 200px;}
    .h-lg-300{height: 300px;}
    .h-lg-350{height: 350px;}
    .h-lg-400{height: 400px;}
    .h-lg-450{height: 450px;}
    .h-lg-500{height: 500px;}
}

//line-height
.lh-500{line-height: 500px;}

//image
.bg-po-right{background-position: right;}

//ul
.no-style-li{list-style:none;}