$secondary: #ebebeb;
$success: #FBE913;
$info: #FBE913;
$warning: #FBE913;
$danger: #EF5845;
$light: #fff; 
$dark: #2D2C45; 

@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

* { font-family: "Noto Sans JP", sans-serif; }
a {text-decoration: none;}
.bg-circle{border-radius: 10px; padding: 20px 0px;}
.box-circle{border-radius: 10px;}