$light-yellow: #f1f614;

.big-topTilte{
    font-size: 6.8rem;
    text-align: center;
    color: #FFF;
    margin-top: 40%;
}

.top-picSize{
    width: 100%;
    height: 30vh;
    background-position: right;
    object-fit: cover;
}

@media screen and (max-width: 720px) {
    .top-picSize{
        width: 100%;
        height: 40vh;
    }
}