<%=render 'layouts/admin'%>

<div class="container">
<div class="row justify-content-center">
    <div class="col-11">
        <h1 class="text-center">管理者用トップページ</h1>

        <div class="row">
            <div class="col-6">
                <h4 class="text-center">ユーザー一覧</h4>
            </div>
            <div class="col-6">
                <h4 class="text-center">問い合わせ</h4>
            </div>
        </div>
    </div>
</div>
</div>