<h2 class="text-center pb-2">目標金額の結果</h2>

<div class="row justify-content-center">
    <div class="col-10 bg-light bg-radius-10">
        <%if result==0%>
        <p class="fs-2 py-2 text-center">　</p> <%#なにも出力しないための空白%>
        <%else%>
        <p class="fs-2 py-2 text-center"><span class="fs-5">あなたのおすすめ目標金額は</span>
        <%=result.to_i%>円<span class="fs-5">です</span></p>
        <%end%>
    </div>
</div>