<footer class="bg-info pt-5 pb-4 mt-5">
    <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
            <p>貯金で余裕のあるくらしを</p>
            <%= image_tag '', :size =>'300x75' %>
          </div>
          <div class="col-md-5"></div>
          <div class="col-md-3">
            <h6 class="mt-2 mb-3 text-dark">Information</h6>
            <ul class="p-0 list-unstyled">
              <li>
                <a href="" title="About" class="text-dark">組織について</a>
              </li>
              <li class="pt-2">
                <a href="<%=privacy_path%>" title="informations" class="text-dark">プライバシーポリシー</a>
              </li>
              <li class="pt-2">
                <%=link_to "退会はこちらから", confirm_unsubscribed_path, class: "text-dark"%>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>